section {
    background-color: tomato;
}

.title {
    margin-bottom: 25px;
}

.title h6 {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 0;
    color: #1f1f1f;
    line-height: 1.3;
}

.title p {
    color: #787878;
    font-size: 24px;
    margin: 20px 0;
    font-weight: 300 !important;
}

.section-content {
    padding-top: 25px;
}

.btn-3 {
    color: black;
    line-height: 48px;
    border-width: 1px;
    border-radius: 0;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.05em;
}

section+section {
    border-top: 1px solid #eee;
}

.title h2 {
    font-size: 38px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #1f1f1f;
    position: relative;
}

.title h2::before {
    content: "C";
    margin: auto;
    z-index: -1;
    font-size: 2em;
    opacity: 0.6;
    position: absolute;
    top: -0.5em;
    text-align: center;
}

.title h4 {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #787878;
}

.team-content {
    padding-bottom: 25px;
    padding-top: 25px;
}

.team-image img {
    width: 100%;
}

.team-member {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.team-overlay {
    position: absolute;
    top: -20;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: rgba(0, 195, 218, 0.9);
    color: #fff;
    font-size: 13px;
    transform: translateY(20px);
    transition: all .3s ease;
    opacity: 0;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
}

.team-member:hover .team-overlay {
    opacity: 1;
}

.team-info {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding: 20px 0;
}

.team-info h4 {
    margin-bottom: 0;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-top: 0;
    font-weight: 600;
}

.team-info span {
    font-size: 22px;
}

.team-social {
    padding: 0px;
    width: 100%;
    list-style: none;
    margin: 15px 0 0;
    margin-bottom: 240px;
}

.team-social li {
    display: inline-block;
    margin-right: 10px;
}

.team-social>li>a {
    display: block;
    color: white;
    font-size: 22px;
}

.indicator-item img{
    width: 110px !important;
    height: 110px !important;
}

.indicator-item img.active{
    width: 140px !important;
    height: 140px !important;
}

.single-box p{
    width: 400px;
    margin: auto;
}

.client-info h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}

.client-info{
    display: none;
}

.indicator-item img.active:first-of-type + div{
    display: block;
}

#Blog{
    background-color: rgb(187, 131, 240);
}